*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 15px;
 box-shadow: 0px 1px 10px rgb(178, 175, 175,0.5);
}
.logo-container{
    width: 130px;
}
.logo-img{
    width: 100%;
}
.navList{
    display: flex;
}
.listItem{
    list-style: none;
    font-weight: lighter;
    margin-left:50px;
}
a{
    text-decoration: none;
}

a:hover{
color: #387ed1;
}
a:active{
    color:black;
}
/* #387ed1; */
.menuIcon{
    margin-left: 50px;
}
.menuIcon div{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px 0;
}


.Section-1{
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
}
.landingImg{
    width: 100%;
    margin: auto;
    height: auto;
}


.Section-2{
    margin-top: 40px;
    text-align: center;
}

.Section-2-Heading{
    font-size: 50px;
    font-weight: 100;
}

.Section-2-discription{
    margin-top: 10px;
    font-size: 20px;
}

.SignUp-button{
    margin-top: 40px;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0,0,0,0) !important;
    border-radius: 3px;
    padding: 10px 30px
}

.SignUp-button:hover{
    background-color: black;
}



